
@model Nhom5TN230.ca_giong

@{

    ViewBag.Title = "tao_Ca_Giong";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<style>

    .div_trong_admin {
        margin-left: 100px;
    }

    h2 {
        font-size: calc(1.325rem + 0.9vw);
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
</style>

<div class="div_trong_admin">

    <div class="" style="width: 50%">

        <div class="">

            <h2 class="text-primary">Sửa cá giống</h2>

            <div class="" style="margin-top: 10px;">

                @Html.ActionLink("Trở về trang chủ", "../Admin/")

            </div>

        </div>

        <hr class="bg-primary" />

        <div class="" style="width: 100%">

            @using (Html.BeginForm("EditFish", "Fish", FormMethod.Post, new { @class = "" }))

            {

                @Html.AntiForgeryToken()

                <div class="form-horizontal" style="width: 680px;">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="">

                        <div class="row">

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Tên cá giống

                                    </b>

                                </div>

                                <div class="">

                                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })

                                    <span class="text-danger">@ViewBag.errorTen</span>

                                </div>

                            </div>

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Loại cá giống

                                    </b>

                                </div>

                                <div class="">

                                    @Html.DropDownListFor(

                                    model => model.loai_ca_giong_Ma, new SelectList(ViewBag.data, "Ma", "Ten", "Select"),

                                    new { @class = "form-control" }

                                    )

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Mô tả cá giống

                                    </b>

                                </div>

                                <div class="">

                                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })

                                    <span class="text-danger">@ViewBag.errorMoTa</span>

                                </div>

                            </div>

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Giá cá giống

                                    </b>

                                </div>

                                <div class="">

                                    @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })

                                    <span class="text-danger">@ViewBag.errorGia</span>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Số lượng cá giống

                                    </b>

                                </div>

                                <div class="">

                                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })

                                    <span class="text-danger">@ViewBag.errorSoLuong</span>

                                </div>

                            </div>

                            <div class="form-group col-lg-6 col-md-12 col-sm-12">

                                <div class="align-start" style="margin-bottom: 10px;">

                                    <b>

                                        Ngày tuổi

                                    </b>

                                </div>

                                <div class="">

                                    @Html.EditorFor(model => model.NgayTuoi, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.NgayTuoi, "", new { @class = "text-danger" })

                                    <span class="text-danger">@ViewBag.errorNgayTuoi</span>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="form-group col-lg-12 col-md-12 col-sm-12" style="margin-top: 20px;">

                                <div class="" style="width: 100%;">

                                    <input type="submit" value="Lưu" class="btn btn-primary" style="width: 100%;" />

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            }

        </div>

    </div>

</div>