@model IEnumerable<Nhom5TN230.loai_ca_giong>

@{
    Layout = null;
}

<div class="admin-table">
    <div class="table__head-wrapper">
        <table class="table" cellpadding="0" cellspacing="0" border="0">
            <thead class="table__head">
                <tr class="table__tr">
                    <th class="table__th">@Html.DisplayNameFor(model => model.Ma)</th>
                    <th class="table__th">@Html.DisplayNameFor(model => model.Ten)</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table__body-wrapper">
        <table class="table body" cellpadding="0" cellspacing="0" border="0">

            <tbody class="table__body">
                @foreach (var item in Model)
                {
                    <tr class="table__tr">
                        <td data-label="ID" class="table__td">@Html.DisplayFor(modelItem => item.Ma)</td>
                        <td data-label="Tên loại cá" class="table__td">@Html.DisplayFor(modelItem => item.Ten)</td>
                        <td data-label="Hành động" class="table__td">
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
