@model IEnumerable<Nhom5TN230.loai_ca_giong>

@{
    Layout = null;
}



<div class="admin-table">
    <div class="table__head-wrapper">
        <table class="table" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0;">
            <thead class="table__head">
                <tr class="table__tr">
                    <th class="table__th">STT</th>
                    <th class="table__th">Tên loại cá</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="table__body-wrapper">
        <table class="table body" cellpadding="0" cellspacing="0" border="0" style="margin-bottom: 0;">

            <tbody class="table__body">
                @{ 
                    var stt = 1;
                }
                @foreach (var item in Model)
                {
                    <tr class="table__tr">
                        <td data-label="ID" class="table__td">@stt</td>
                        <td data-label="Tên loại cá" class="table__td">@Html.DisplayFor(modelItem => item.Ten)</td>
                        <td data-label="Hành động" class="table__td">
                            @*@Html.ActionLink("Edit", "EditFishType", new { Ma = item.Ma }) |
                            @Html.ActionLink("Delete", "Delete", new { Ma = item.Ma })
                            <a class="ajax-delete-fish-type" data-id="@item.Ma" href="/Fish/DeleteFishType/@item.Ma">Delete</a>*@

                            <a class="table__btn table__edit-btn" href="/Fish/EditFishType/@item.Ma"><i class="fa-solid fa-pen table__icon table__edit-icon"></i></a>
                            <a data-id="@item.Ma" data-display="@item.Ten" class="table__btn table__delete-btn ajax-delete-fish-type" href="/Fish/DeleteFishType/@item.Ma"><i data-id="@item.Ma" class="fa-solid fa-xmark table__icon table__delete-icon"></i></a>
                        </td>
                    </tr>
                    stt++;
                }

            </tbody>
        </table>
    </div>
</div>
